<!DOCTYPE html>
<html>
<head>
	<title>Components using jQuery</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="stylesheet" href="css/navbar.css">
	<link rel="icon" href="j.ico">
</head>
<body>
		<div class="menu" id="navbar">
  			<a href="" class="brand">Navbar</a>
  			<a href="#" class="active">Home</a>
  			<a href="#news" class="link">News</a>
 			<a href="#contact" class="link">Contact</a>
  			<a href="#about" class="link">About</a>
  			<a class="hamburger">
    			<i class="fa fa-bars"></i>
  			</a>	
		</div>	
		<div class="Information">
			<p class="text">
				Responsive "navbar component" with flexbox and jQuery (without Bootstrap).
			</p>
		</div>
	 <script src="js/jquery-3.3.1.min.js"></script>
  	<script type="text/javascript" src="js/navbar.js"></script>
</body>
</html>