<!-- Collapse component- Accordion format-->
<!DOCTYPE html>
<html>

  <head>
    <title>Collapse-Accordion Format</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <!--CSS file path-->
    <link rel="stylesheet" href="css/accordion.css">

    <link rel="icon" href="j.ico">
  </head>

  <body>
    <div class="Heading">
      Collapse component - accordion format
    </div>

    <!--Collapse component with three collapsible group item-->
    <div id="accordion">
      <!--First Item-->
      <div class="item">
        <!--Header-->
        <div class="item-header" id="headingOne">
          Collapsible Group Item #1
        </div><!--Header ends-->
        <!--Item's body-->
        <div class="item-body" id="body-one">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
          on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
          raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div><!--Body ends-->
      </div><!--first Item ends-->

      <!--second item-->
      <div class="item">
        <div class="item-header" id="headingTwo">
          Collapsible Group Item #2
        </div>
        <div class="item-body" id="body-two">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
          on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
          raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div><!--second item ends-->

      <!--Third item-->
      <div class="item">
        <div class="item-header" id="headingThree">
          Collapsible Group Item #3
        </div>
        <div class="item-body" id="body-three">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
          on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
          raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div><!--Third item ends-->
    </div><!--Collapse component ends-->

    <!--The minified jQuery js file and local js file path-->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/accordion.js"></script>
  </body>

</html>