:root {
	font-size: 16px;
}

body {
    font-family: 'Montserrat';
   
}

.Heading{
	padding: 5px;
	background-color: #b9db34;
	text-align: center;
	margin-bottom: 10px;
	font-size: 1.2rem;
	font-weight: bold;
}

#accordion{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.card{
	min-width: 60%;
	max-width: 60%;
	margin: 1px;
}

.card-header{
	text-align: center;
	background-color: #efd95d;
	padding: 10px;
	font-size: 1rem;	

}
.card-header:hover{
	background-color: #d6c053;
	cursor: pointer;
}
.card-body{
	border: 1px solid #afaeae;
	font-size: 0.9rem;	
}

@media only screen and (max-width: 600px) {
	.card{
		min-width: 100%;
	}
}